* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    width: 120px;
    height: auto;
    padding: 8px 12px;
    border-radius: 1.5mm;
}

/* PANEL ONE */
.container-1 {
    background-color: #1f2937;
    height: 450px;
}

    /* HEADER */

    .header-container {
        display: flex;
        justify-content: center;
        padding: 18px;
    }

        .header {
            /* display */
            display: flex;
            width: 1000px;
            display: flex;
            justify-content: space-between;
        }

        .right {
            color: #F9FAF8;
            font-size: 24px;
            font-weight: bold;
        }

        .left {
            color: #E5E7EB;
            font-size: 18px;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 22px;
        }

    
    /* AWESOME CONTENT */
        .master-awesome {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 420px;
        }    

        .awesome-container {
            display: flex;
            height: 230px;
            width: 1000px;
            gap: 40px;
            margin-bottom: 50px;
        }

        .left-awesome {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 600px;
            gap: 10px;
        }
 
        .awesome-text {
            color: #F9FAF8;
            font-weight: bolder;
            font-size: 48px;
        }

        .awesome-subtext {
            color: #E5E7EB;
            font-size: 18px;
        }

        .right-awesome {
            display: flex;
            background: #797e86;
            margin-left: auto;
            width: 500px;
            justify-content: center;
            align-items: center;
        }

        .placeholder {
            color:#E5E7EB;
        }

        .positive {
            background-color: #3882f6;
            border-color: #3882f6;
            color: #F9FAF8;
            font-weight: bold;
        }

/* PANEL TWO */
.container-2 {
    height: 420px;
    text-align: center;
}

    /* CONTENT */
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .random {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
        padding: 40px;
    }

    .bottom-container {
        display: flex;
        justify-content: center;
    }

    .bottom {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        gap: 40px;
    }     

    .text {
        width: 150px;
    }

    .items {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
        background: #ffffff;
        border-radius: 4mm;
        border-style: solid;
        border-color: #3882f6;
    }


/* PANEL THREE */
.container-3 {
    display: flex;
    height: 390px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

    /* Content */
    .quote-container {
        display: flex;
        width: 750px;
        flex-direction: column;       
    }

    .quote {
        font-size: 36px;
        color: #1f2937;
        font-style: italic;
        font-weight: lighter;
    }

    .credit {
        display: flex;
        align-self: flex-end;
        color:#1f2937;
        font-weight: bolder;
        font-size: 24px;
        margin-top: 6px;
    }


/* PANEL FOUR */
.container-4 {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.negative {
    background-color: #3882f6;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 0.75mm;
    color: #F9FAF8;
    font-weight: bold;
}

    /* Content */
    .blue-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        padding: 40px 100px;
        background-color: #3882f6;
        border-radius: 2mm;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .call {
        font-size: 24px;
        font-weight: bold;
        color: #F9FAF8;
    }

    .call-content {
        font-size: 18px;
        color: #E5E7EB;
    }


/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    height: 80px;
}
